<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<% if current_user %>
  <p>
    <strong>Watched?:</strong>
    <span id="has_watched"><%= current_user.watched? @video %></span>
  </p>
  <p>
    <script>
      $(document).on("click", "#play_button", function() { 
        //a quick hack
        $("#has_watched").text("true");
        })
      
    </script
    <%= button_to "Play", { action: "play" }, id: 'play_button', remote: true, form: { "data-type" => "json" } %>
  </p>
<% end %>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
